#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
max_allowed_packet=64M
query_cache_size=32M
innodb_log_file_size=256M
character-set-server=utf8
collation-server=utf8_unicode_ci
#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
